@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Inconsolata:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
   
    color: black;
}
ul{
    list-style: none;
}
/* section{
    height: 100vh;
} */

body{
    box-sizing: border-box;
    overflow-x:hidden ;
    font-family: 'Montserrat';
    height: 100%;
    /* background-color: #b5e0eb; */
    color: white;
    scroll-behavior: smooth;
    
    background-color: rgb(243, 242, 242);
    
    
}


img{
    width: 100%;
    height: 100%;
}
.main-sec{
 
    padding: 0rem 0rem 3rem 0;
    background-image: url(images/mirror-texture.jpg);
    background-attachment: fixed;
    background-size: cover;
   
}
.main-sec-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
 
    color: white;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    background-color:rgb(77, 68, 68);
    box-shadow: 2px 2px 4px 2px white;
}


.header-bottom{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;


   
    height: 70px;
}
.header-bottom-left{
    display: flex;
    flex: 12;
    justify-content: space-between;
    align-items: center;
    
   
    gap: 0.5rem;
}

.navigation{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.navigation li a {
    color: white;
}
.navigation li {
    color: white;
    position: relative;
}

.navigation li::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 40%;
    background-color:rgb(99, 212, 240);
    transition: .5s ease;

}
.navigation li:hover::before{
    width: 70%;
}
.fa-bars{
    color: white;
    font-size: 25px;
    display: none;
}
.logo{
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
    z-index: 1000;
}
.logo a{
    color: rgb(87, 231, 87);
}
.logo-span{
    color: rgb(87, 231, 87);
}
.header-bottom-right{
    flex: 4;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    color: white;

   
}
.header-bottom-right a{
    color: white;
}
.header-bottom-right .fa-brands{
    font-size: 1.5rem;
    cursor: pointer;

   

}
.fa-brands:hover {
  transform: scale(110%);
}
.sup{
    color: rgb(0, 253, 0);
}
.fb{
    color: rgb(0, 0, 255);
}
.insta{
    color: #653a9c;
}
.dropdown{
    position: relative;
   
    cursor: pointer;
}
.fa-caret-down{
    color: white;
}
.sub-menu {
    padding: 0.5rem 0;
    
    position: absolute;
    left: -20px;
    display: none;
    z-index: 999;
    width: 200px;
    background-color: #41b4b8;
    border-radius: 15px;
}
.sub-menu li{
    padding: 0.5rem 0.25em;  
}
.sub-menu li:hover{
    background-color: #201414
}
.dropdown:hover .sub-menu{
    display: block;
}
.sub-menu li::before{
    width: 0;
    bottom: -5px;
}


/* ჰედერის დასასრული იწყება ჰიროუ სექცია */


.hero-wrapper{
    display: flex;
    align-items: center;
    width: 93vw;
    justify-content: space-between;
    padding: 0rem 2.5rem;
    text-align: center;
   
    background-color: rgb(243, 242, 242);
    padding: 1rem;
    border-radius: 25px;

    
}
.hero-left, .hero-right{
    width: 45%;
    display: flex;
}
.hero-left{
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    flood-color: white;
}
.hero-left h1{
    font-size: 50px;
    /* color: white; */
}
.hero-right img{
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    object-fit: cover;
}
.hero-right{
height: 75vh;
object-fit: cover;
background-size: cover;
border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
box-shadow:-50px 0px 85px 90px rgba(143, 192, 241, 0.555);
-webkit-box-shadow:-50px 0px 85px 90px rgba(143, 192, 241, 0.555);
-moz-box-shadow: -50px 0px 85px 90px rgba(143, 192, 241, 0.555);
}
.gallery-cta{
    box-sizing: border-box;
    margin-top: 2.7rem;
    padding: 0.7rem .9rem;
   background-color:rgb(104, 227, 231);
   width: 30%;
   font-size: 1.1rem;
   text-align: center;
   border-radius: 50px;
   color: white;
   text-align: center;
   position: relative;
   transition: 550ms ease;
   height: 48px;

}
.gallery-cta:hover{
    border: 1px solid rgb(0, 253, 0);
    background: transparent;
    color: black;

}
.gallery-cta:hover .fa-arrow-right-long{
    transform: translate(50%, 85%);
}
.fa-arrow-right-long{
    position: absolute;
    right: 10%;
    top: 0;
    color:  rgb(0, 0, 0);
    transform: translateY(85%);
    transition: 550ms ease;
}





/* products slider */






.popular-products{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 242, 242);
}

.popular-products-header h2{
    font-size: 35px;
    position: relative;
    padding: .5em;
    color: white;
    z-index: 2;
}
.swiper{
    width:80%;
}
.card{
    background-color: rgb(122, 171, 235);
    border-radius: 20px;
    color: white;
    position: relative;
}
.card:before{
    content: '';
    position: absolute;
    height: 55%;
    width: 100%;
    top: 0;
    background-color: #ade9a8;
    border-radius: 20px 20px 0 0;
}
.card-image{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 3px;
    padding-bottom: 5px;
    background-color:  #ade9a8;
    z-index: 1;
    transition: 750ms ease;
    cursor: pointer;
}
.card:hover .card-image{
    /* transform: scale(110%); */
}
.card-image img{
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid #fff;
}
.card .card-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: .5rem;
   z-index: 100;
   position: relative;
   color: white;

}
.card-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;

    gap: .2rem;
}
.popular-product-name{
    font-size: 1.2rem;
    color: white;
}
.popular-product-price{
    font-style: 0.8 rem;
    color: white;
}
.card-cta{

    padding: .6em 1.2em;
    border: 1px solid  #7d2ae8;
    transition: 250ms ease;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}
.card-cta:hover{
    background-color: #7d2ae8;
    color: white;
}




/* კატეგორიების სექცია */

.category{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: 100%;

    
    /* background-color: #fff; */
    width: 100vw;
    margin: 1rem auto;
    margin-bottom: 3rem;
    background-image: url(images/mirror-texture.jpg);
    background-attachment: fixed;
    background-size: cover;
    gap: 1rem;
    padding: 0rem 0rem 3rem 0;
}
.category-header{
    box-sizing: border-box;
    width: 100%;
  margin-bottom: 3rem;
    text-align: center;
    position: relative;
    
}
.imeno-category-header{
    border-bottom: 15px solid white;
}
.category-header h2{
    margin-bottom: 3rem;
    /* border-radius: 50px; */

    font-size: 35px;
    position: relative;
    width: 100%;
    padding: .5em;
    margin: 0 auto;
    color: white;
    z-index: 2;
 
    background-image: url(images/glass-texture.jpg);
    background-attachment: fixed;
    background-size: contain;

   
}

.category-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  object-fit: cover;
}
.category-card{
    width: 290px;
    height: 350px;
    padding: 1rem 1.5rem;
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
    transition: 750ms ease-in-out;
    cursor: pointer;
  
}
.category-card:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-color: #25242477;
    transition: 750ms ease-in-out;

}
.category-card::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 7%;
    width: 50%;
    height: 100%;
    background-color: #25242477;
    transition: 750ms ease-in-out;

}
.category-card:hover:after{
    transform: translateX(100%);
}
.category-card:hover:before{
    transform: translateY(100%);
}
.category-card:hover .category-name{
    background-color:  rgb(62, 65, 66);;
    transform: translate(-50%,50%);
    border-radius: 50px;
 
 

}

.category-img img{
    object-fit: cover;
    
  
}
.category-name{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 1em 0;
    font-weight: 600;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 25px;
    z-index: 2;
    color: white;
    transition: 750ms ease-out;
  
}
.category-name a span{
    color: white;
}
.category-img {
    width: 100%;
    height: 100%;
}
.overlay{
    display: none;
}



/* რატომ ჩვენ ??? */

.contacts{
    padding: 3rem;
}
.why-us-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 3rem;
   
   
    
}
.why-us-header{
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.why-us-left{
 
    height: 90%;
 
    width:45%;

   
    padding: 1rem ;
  
}
.why-us-right{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 1rem;
 
    border-radius:10px;
    box-shadow: 4px 4px 4px rgba(204, 200, 200, 0.582);
    -webkit-box-shadow:4px 4px 4px rgba(204, 200, 200, 0.582);
-moz-box-shadow:4px 4px 4px rgba(204, 200, 200, 0.582);

}
.why-us-right p{
    font-size: 1.2rem;
    font-weight: 500;
}
.why-us-right span{
    color: rgb(34, 104, 211);
}
.why-us-image{
    width: 100%;
    height: 100%;


}

.fa-circle-check{
    color: rgb(78, 231, 78);
}




/* კონტაქტები */
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
form{
    padding: 3rem 0;
   flex: 8;
   margin: 0 auto;
    display: flex;
    background-color: #1d2b3a;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    min-height: 70vh;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 2;
  
    
   
}
.contacts-top{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;
    flex: 4;
    
   
    
   
}

.input-box{
    position: relative;
    width: 250px;

}
.input-box input,textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.25);
    background-color: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: white;
    transition: 0.5s;
    font-size: .8rem;

}
.input-box span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color:rgba(255,255,255,0.25); 
    transition: 0.5s;
   

}
.input-box input:valid ~ span,
.input-box input:focus ~ span,
.input-box textarea:valid ~ span,
.input-box textarea:focus ~ span
{
    color: #00dfc4;
    transform: translate(10px, -7px);
    font-size: .9rem;
    padding: 0 10px;
    letter-spacing: 0.2rem;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    background-color: #1d2b3a;

}
.input-box:nth-child(odd) input:valid ~ span,
.input-box:nth-child(odd) input:focus ~ span{
    background-color: #00dfc4;
    color: #1d2b3a;
    
}
.input-box input:valid,
.input-box input:focus, 
.input-box textarea:valid,
.input-box textarea:focus {
    border: 1px solid #00dfc4;;
}
#form-btn{
    border: none;
    width: 250px;
    height: 50px;
    color: #00dfc4;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    background-color: #1d2b3a;
    border: 1px solid white;
    transition: .5s;
    text-align: center;
    display: flex;
    justify-content: center;

}

#form-btn:hover{
    background-color: #00dfc4;
    border: 1px solid white;
    color: #1d2b3a
}
.contacts-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 100%;

}


.contacts-bottom{
    width: 90%;
    margin-top: 2rem;
}
.contacts-bottom iframe{
    width: 100%;
   min-height: 25rem;
}
.contacts-top div{
    display: flex;
    flex-direction: column;
    gap: .8rem;
  align-items: center;
  border-bottom: 2px solid red;

}

.contacts-top i{
    font-size: 1.5rem;
    padding: .5em;
    color: rgb(34, 255, 34); 
z-index: 1;
    border-radius: 50%;
   

}
.contacts-top div span, a{
    z-index: 1;
    color: white;
}

.cu1{
    font-size: 1.6rem;
    font-weight: 600;
    z-index: 2;
    color: white;
    letter-spacing: 0.1rem;
}
.contacts-header h2{



}





footer{
    min-height: 50vh;
    background-color: rgb(42, 42, 46);
}
.footer-links{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 2rem;

    display: flex;
    align-items: start;
    justify-content: space-between;

}
.footer-category-links,
.footer-contact-links{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
footer h4{
    font-size: 1.2rem;
    color: white;
    position: relative;
    cursor: pointer;
   
}
footer h4::before{
    content: '';
    position: absolute;
    height: 2px;
    bottom: -5px;
    width: 40%;
    transition: 0.5s ease;
    background-color: tomato;
}
footer h4:hover::before{
    width: 70%;
}
footer ul li a:hover{
    margin-left: 10px;
    color: white;
}
footer ul li a{
 transition: 0.5s ease;
}
.footer-category-links ul,
.footer-contact-links ul{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-top: .5rem;

}footer li a,span{
    color:rgb(168, 164, 164)
}
.footer-media-links{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.footer-media-links ul{
gap: 2rem;
display: flex;
}
.footer-media-links ul li a:hover{

    margin-left: 0;
}
.footer-media-links ul i{
  font-size:  35px;
}




/* kategoriebis index.htmls style */
.category-item-review{
    display: flex;
    padding: 2rem 3rem;
    justify-content: space-between;
}
.category-item-review-swiper{
    display: flex;
    flex-direction: column;
   
    align-items: left;
    gap:20px ;
    align-self: flex-start;
    flex: 7;
}
.category-item-text{
    flex: 5;
    flex-direction: column;
    display: flex;
    gap: 2rem;
   /* align-items: center; */
    justify-content: center;
 
}
.category-item-text p{
    font-size: 1.1rem;
}
.category-item-text h2{
    font-size: 2rem;
    /* margin-bottom: 2rem; */

}
.category-item-text ul{
    
   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: .5rem;
    list-style: circle;
}

.category-swiper-top{
    width: 400px;
    border-radius: 25px;
}
.category-swiper-bottom{
    max-width: 400px;
}



.category-item-pictures{
    width: 100%;
    padding: 0 2rem;
}
.category-item-card-wrapper{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;
}
.category-item-card{
    width: 30%;
    min-height: 300px;
    position: relative;
    background-color: #ceeec8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 2rem;
}
.category-item-card-img{
    max-width: 200px;
    border-radius: 50px;
    width: 100%;

}
.category-item-card-img img{
    border-radius: 50px;
}
.category-item-card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.resized-item{
    transform: scale(120%);
    transition: 1250ms;
}
.calculator{
    padding: 3rem 0;
  

}
.calculator-wrapper{
    max-width: 900px;
    height: 100%;
    padding: 1rem;
    background-color: rgb(116, 221, 240);
    color: white;
position: relative;
    min-height: 400px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url(images/mirror-texture.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay-calc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
}
.calculator-wrapper h4{
    background-color: #d1e9b6;
    margin-top: -2rem;
    padding: 1rem 2rem;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ;
    border: 10px solid rgb(243, 242, 242);;
    z-index: 2;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    
}
.calculator label {
    color: white;
    font-size: 18px;margin-bottom: 5px;
}
.calculator-checkboxes{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
.checkbox-forms, .checkbox-styles{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
flex-direction: column;
    z-index: 2;
    
}
.calc-row{
    display: flex;
    align-items: center;gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.calc-h3{
    width: 100%;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
}


.zomebi{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}
#diameter{
    display: none;
}

.calculator input {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.25);
    background-color: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: white;
    transition: 0.5s;
    font-size: .8rem;
}
.calculator .zomebi span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color:rgba(255,255,255,0.25); 
    transition: 0.5s;
}
#submit-price{
    border-radius: 25px;
    padding: .8rem 1.2rem;
    background-color: white;
    border: 3px solid rgb(76, 215, 224);
    cursor: pointer;
    z-index: 4;
    margin-bottom: 5px;
    font-size: 1rem;
}
.price{
    z-index: 4;
padding: 1rem;
    text-align: center;
    color: rgb(214, 214, 214);
    height: 100px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
}
#submit-price:hover{
    transform: scale(1.1);
}




/* kategoriebis htmlebis  produqciis wraper */
.category-page-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 1rem;
    gap: 20px;
  
  
}
.category-page-products-product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
    gap: 20px;
    

  
}
.category-page-products-product h4{
    font-size: 25px;
    padding: 1rem;
}
.category-page-products-product-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
  
    scroll-behavior: smooth;
}
.category-page-card{
    min-height: 400px;
}
.category-card-img{
    width: 275px;
    top: 10px;
    height: 350px;
}
.category-card-img img{
   width: 100%;
   height: 100%;
}




.show-contacts-from-calc{
    color: rgb(255, 255, 255);
    margin-top: 15px;
}

.price{
    height: 200px;
    background-color: rgb(22, 24, 23);
}
#price{

    color: white;
}
.contacts{
    padding: 0;
}

@media screen and (max-width:930px){
   
    .navigation{
        display: none;
    }
    .fa-bars{
        display: block;
        position: absolute;
        top:20px;
        left: 20px;
        z-index: 1999;
        cursor: pointer;
        transition: 1s ease;
    }
    .fa-bars-click{
        transform:scale(110%)
    }
    .header-bottom-right a:nth-child(1){
        display: none;
    }
    .header{
        padding: 0rem 0rem;
    }
    .header-bottom-left {
        gap:0;
        flex:4
    }
    .active-nav{
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        height: 100vh;
        width: 80%;
        z-index: 999;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.671);
        transition: .5s ease;
     
    }
    .active-nav-click{
        transform: translateX(0);
    }

.hero-wrapper{position: relative;
}
    .hero-right{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        z-index: 1;
        box-shadow: none;
        
       
    }.hero-right img{
      object-fit: fill;
    
    

    }
    .hero{
        background: none;
        background-color: transparent;
    }
    .main-sec-wrapper{
        height: 90vh;
    }
    .hero-wrapper{
        height: 80vh;
        border-radius: 25%;
        background-color: transparent;
    }
    .hero-left{
        border-radius: 25%;
        z-index: 7;
        width: 90%;
        position: absolute;
        margin: 0 auto;
        bottom: 20px;
        align-items: center;
    }
    .hero-left h1{
        width: 90%;
        height: 50px;
        font-size: 35px;
        color: white;
        
    }
    .hero-left span{
        color: white;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 6;
        background-color: rgba(0, 0, 0, 0.226);
    }
    .logo{
        float: left;
    }
    .category-wrapper{
        background-color:transparent;
    }
   .category-header{
    border-bottom: 2px solid white;
   }
    
}
@media screen and (max-width:768px){
    .why-us-wrapper{
        flex-direction: column-reverse;
        height: 100%;
    }
  .why-us-right{
        width: 100%;
        text-align: center;
        border: none;
        box-shadow: none;
    }
  .why-us-left{
    display: none;
  }
  .footer-links{
    flex-direction: column;
    gap:22px;
    align-items: flex-start;

  }
  .hero-left{
    gap: 40px;
  }
  .main-sec{
    position: relative;
    height: 100vh;
}
.hero-wrapper{
    position: static;
}
.hero{
    position: static;
}
.hero-left{
    gap: 40px;
    text-align: center;
   
    
}
.gallery-cta{
    margin-top: 0;
}
.footer-links{
    align-items: center;
}
  .footer-contact-links{
    align-items: center;
    text-align: center;
  }

}
@media screen and (max-width:680px){
    .logo{
        margin-left: 50px;
        font-size: 35px;
    }

}
@media screen and (max-width:525px){
    .contacts-top{
        transform: scale(0.9);
    }
    .main-sec{
        position: relative;
        height: 100vh;
    }
    .hero-wrapper{
        position: static;
    }
    .hero{
        position: static;
    }
    .hero-left{
        gap: 40px;
        text-align: center;
       
        
    }
    .hero-left h1{
        width: 100%;
        font-size: 30px;
    }
    .hero-left span{
        margin-bottom: -10px;
    }
    .hero-right img{
        border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
    }
    .gallery-cta {
        margin-top:0
    }
}
@media screen and (max-width:425px){
    .contacts-top{
        transform: scale(0.7);
    }
}



